@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.calc-container {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  background: white;
  /* display: flex;
  justify-content: center; */
}

.display {
  width: 360px;
  height: 15%;
  border: 1px solid lightgray;
  margin: 20px auto;
}

.calculations {
  display: flex;
  height: 12%;
  margin: 0 20px 20px 20px;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  border: 1px solid grey;
  background: lightgrey;
  width: 70px;
  height: 50px;
  cursor: pointer;
}

.numbers {
  /* border: 1px solid black; */
  width: 265px;
  height: 269px;

  margin-left: 19px;
}

.table {
  display: flex;
  justify-content: space-between;
}
.box.left {
  background: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.equals-box {
  background: lightblue;
  border: 1px solid lightgrey;
  width: 70px;
  height: 270px;
  position: relative;
  top: -290px;
  left: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
